{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ company.name }}</h1>

  <p><strong>Директор:</strong> {{ company.director }}</a></p> 
 
  <p><strong>Описание:</strong> {{ company.description }}</p>

  <p><strong>Телефон:</strong> {% for phone in company.phone_set.all %} {{ phone }}  {% endfor %}</p>

  <p><strong>Адрес:</strong> {% for address in company.address_set.all %} {{ address }}  {% endfor %}</p>

  <p><strong>Email:</strong> {% for email in company.email_set.all %} {{ email }}  {% endfor %}</p>

  <div>

    <p><a href="{% url 'projects' company.pk %}"> Все проекты по компании</a></p>
    
    <p><a href="{% url 'comp_messages' company.pk %}">Все взаимодействия по компании</a></p>

  </div>

  <div>
    
    <h3>Проекты:</h3>

      {% for project in company.project_set.all %}

        <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>

                      
        <br>
      {% endfor %}




  </div>

  
{% endblock %}