{% extends "base_generic.html" %}
{% block sort %} 
<form action="" method="get" id="sortProduct">
<div class="dropdown">
  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Сортировать
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="?orderby=description">По тексту сообщения</a>
          <a class="dropdown-item" href="?orderby=-description">По тексту сообщения(в обратном порядке)</a>
          <a class="dropdown-item" href="?orderby=date_time">По времени создания </a>
          <a class="dropdown-item" href="?orderby=-date_time">По времени создания(в обратном порядке)</a>
        </div>
      </li>
</div>
</form>
{% endblock %}
{% block filter %}
<form action="" method="get" id="sortProduct">
<div class="dropdown">
  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Фильтр
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="?filter=Lorem">Lorem</a>
	  <a class="dropdown-item" href="?filter=Curabitur">Curabitur</a>
	  <a class="dropdown-item" href="?filter=fermentum">fermentum</a>
	  <a class="dropdown-item" href="?filter=sapien">sapien</a>
        </div>
  </li>
</div>
</form>
{% endblock %}
{% block button %}<a class="nav-item nav-link" href="{% url 'message_create' %}">Добавить взаимодействие</a>{% endblock %}
{% block content %}
	<h3>Все взаимодействия по компании <a href="{% url 'company_detail' pk %}">{{ company }}</a>:</h3>
	<ul>
      {% for message in message_list %}
      <li> 
          <div class="row">
            <div class="col-sm-8">
              <p><a href="{{ message.get_absolute_url }}">{{ message.description|slice:":100" }}</a></p>
              <p> {{ message.date_time }} </p>
            </div>
            <div class="col-sm-4">
              <p>Добавил : {{ user.first_name }} {{ user.last_name }}</p>
              <p>Оценка: {{ message.get_rating_display }}</p>
            </div>
          </div> 
        </li>
      <hr>     
      {% endfor %}
    </ul>
{% endblock %}